.header {
    height: 95vh;
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../king%20room.jpg);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -ms-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    .logo-box {
        position: absolute;
        top: 40px;
        left: 40px;

        @include respond(phone) {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
            -ms-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        }
    }

    .logo {
        height: 35px;
    }

    .text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
