.navigation {
    &_checkbox {
        display: none;
    }

    &_button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
        
        @include respond(tab-port){
            top: 4rem;
            right: 4rem;
        }
         @include respond(phone){
            top: 3rem;
            right: 3rem;
        }
    }

    &_background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
        
        @include respond(tab-port){
            top: 4.5rem;
            right: 4.5rem;
        }
        @include respond(phone){
            top:3.5rem;
            right:3.5rem;
        }
    }

    &_nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &_list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &_item {
        margin: 1rem;
    }

    &_link {

        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            color: $color-white;
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 300;
            padding: 1rem 2rem;
            background-size: 220%;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            transition: all .4s;

            span {
                display: inline-block;
                margin-right: 1.5rem;
            }
        }

        &:hover,
        &:active {
            transform: translateX(1rem);
            color: $color-primary;
            background-position: 100%;
        }
    }

    &_checkbox:checked ~ &_background {
        transform: scale(80);
    }

    &_checkbox:checked ~ &_nav {
        opacity: 1;
        width: 100%;
    }

    //ICON
    &_icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            height: 2px;
            width: 3rem;
            display: inline-block;
            background-color: $color-grey-dark-1;
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    &_button:hover &_icon::before {
        top: -1rem;
    }

    &_button:hover &_icon::after {
        top: 1rem;
    }

    &_checkbox:checked + &_button &_icon {
        background-color: transparent;
    }

    &_checkbox:checked + &_button &_icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &_checkbox:checked + &_button &_icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

}
