@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --main-font: 'Lato', sans-serif;
    --heading-font: 'Secular One', sans-serif;
    font-size: 10px;
}

body {
    background-color: #116B94;
}

header {
    background-color: #ffffff;
    width: 100%;
    padding: 2rem 0;
}

header>h1 {
    color: #083950;
    text-align: center;
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 4.2rem;
    animation: fadeIn 0.5s ease-in;
}

main {
    animation: fadeIn 1s ease-in 0.2s;
}

.scoreBoard {
    margin: 3.5rem auto;
    border: 2px solid #ffffff;
    border-radius: 0.5rem;
    background-color: #106085;
    text-align: center;
    color: #ffffff;
    width: fit-content;
    font-size: 3rem;
    padding: 1rem 2.5rem;
    font-family: var(--main-font);
    position: relative;
    display: flex;
    flex-direction: column;
}

.scoreBoard>p {
    font-size: 2.5rem;
    font-family: var(--heading-font);
    font-weight: 700;
}

.scoreCardBox {
    display: flex;
    margin-top: 1rem;
}

.scoreCard:nth-child(1) {
    margin-right: 4rem;
}

.badge {
    background-color: #083950;
    padding: 0.4rem 1.5rem;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 1.6rem;
    font-family: var(--main-font);
}

.result {
    width: 100%;
    font-size: 4rem;
    color: #ffffff;
}

.result>p {
    text-align: center;
    font-family: var(--main-font);
    font-weight: 400;
}

.choices {
    width: 100%;
    text-align: center;
    margin: 3rem 0;
}

.choice {
    display: inline-block;
    border: 4px solid #ffffff;
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem 2rem;
    transition: all 0.4s ease;
}

.choice>img {
    max-width: 15rem;
    height: auto;
    transition: all 0.4s ease;
}

.choice:hover {
    background-color: #09405a;
    cursor: pointer;
}

.choice:hover>img {
    transform: scale(0.8);
}

.action-message {
    font-family: var(--main-font);
    color: #ffffff;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.green_glow {
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 1rem #31b43a;
}

.dark_glow {
    border: 4px solid #042e42;
    box-shadow: 0 0 1rem #073347;
}

.red_glow {
    border: 4px solid #fc121b;
    box-shadow: 0 0 1rem #d01115;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }
    .result>p {
        padding: 0 2rem;
        font-size: 3rem;
    }
    .choice>img {
        max-width: 12rem;
    }
}