body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background-color: #212121;
  min-height: 80px;
}
body {
  background-color: #616161;
}
#output > p {
  word-wrap: break-word;
}

textarea::placeholder {
  font-size: 200%;
  color: #212121;
}

#input::-webkit-input-placeholder {
  font-size: 200%;
  color: #212121;
  padding-top: 10px;
}
#input::-moz-input-placeholder {
  font-size: 200%;
  color: #212121;
  padding-top: 10px;
}

#input:-moz-input-placeholder  {
  font-size: 200%;
  color: #212121;
  padding-top: 10px;
}

#input:-ms-input-placeholder  {
  font-size: 200%;
  color: #212121;
  padding-top: 10px;
}

#input {
  font-size: 110%;
  display: block;
  overflow: hidden;
  resize: none;
  border: none;
}

#input,
#output {
  min-height: 400px;
  background-color: #eeeeee;
}

.main {
  margin: 10px;
}

.btn-color {
  color: #212121;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
  background-color: #eeeeee;
  border: 0px solid #eeeeee;
  border-radius: 5px;
  cursor: pointer;
}

.btn-color:hover {
  color: white;
  background-color: #616161;
}

.btn-main:hover {
  color: white;
  background-color: #424242;
}

.btn-main {
  width: 200px;
  margin: 50px;
}
