.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    
    &:target{
        opacity: 1;
        visibility: visible;
    }

    &_content {
        @include absCenter;
        border-radius: .3rem;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        display: table;
        overflow: hidden;
        transform: translate(-50%,-50%) scale(0.25);
        opacity: 0;
        transition: all .4s .2s;
    }

    &_left {
        width: 33.333333%;
        display: table-cell;
    }

    &_right {
        width: 66.666666%;
        display: table-cell;
        vertical-align: middle;
        padding: 2rem 5rem;
    }

    &_img {
        display: block;
        width: 100%;
    }

    &_text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    &_close{
        &:link,&:visited{
        color: $color-grey-dark;
        display: inline-block;
        position: absolute;
        top: 2.5rem;
        right: 3rem;
        text-decoration: none;
        font-size: 3rem;
        transition: all .3s;
        line-height: 1;
    }
        &:hover{
            color: $color-primary;
        }
    }
    &:target &_content{
        opacity: 1;
        transform:translate(-50%,-50%) scale(1);
    }
    
}
