* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dax", Arial;
  font-size: 18px;
  cursor: auto;
  margin: 0;
  height: 100%;
  background: linear-gradient(0deg, #a9abae 35%, #e6e7e8 100%);
  text-align: center;
}

.cvvStyle {
  margin-left: 88px;
}
.cvvStyle2 {
  margin-left: 70px;
}

.card {
  width: 100%;
  max-width: 400px;
  height: 178px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
  border-radius: 6px;
  box-shadow: 0 15px 24px rgba(37, 44, 65, 0.32);
  background: linear-gradient(90deg, #a9abae 35%, #e6e7e8 100%);
}

.card-content {
  width: 100%;
  padding: 20px;
  position: relative;
  float: left;
  z-index: 1;
}

.infoTarjeta {
  position: relative;
  top: 45px;
}

.infoTarjeta h5 {
  font-size: 12px;
  color: #c9cdcf;
  text-align: left;
  text-transform: uppercase;
}

.infoTarjeta h6 {
  font-size: 18px;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
}

input {
  padding: 12px 20px 12px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

button {
  font-family: "Dax", Arial;
  font-size: 14px;
  transition: 0.2s;
  border: none;
  width: 100%;
  height: 40px;
  background-color: #a9abae;
  color: white;
  margin: 2px;
  border-radius: 5px;
}
button:hover {
  background-color: #e6e7e8;
  color: black;
  cursor: pointer;
}

.imgResumen {
  width: 100%;
  max-height: 500px;
  border-radius: 5px;
}

.logoFranquicia {
  width: 70px;
  float: right;
}

.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.divPay {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 40%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  background: #c9cdcf;
  height: 630px;
}
.divPay h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.4;
}

.c1 {
  background: #e6e7e8;
  min-height: 630px;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}

.c2 {
  background: #c9cdcf;
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
}

.totalTxt {
  position: relative;
  top: 50px;
}

@media screen and (max-width: 700px) {
  .column,
  .divPay {
    width: 100%;
  }

  .totalTxt {
    position: initial;
  }

  .c1,
  .c2 {
    min-height: 330px;
    border-radius: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .divPay {
    width: 90%;
  }

  .totalTxt {
    position: initial;
  }
}
